@font-face {
    font-family: Deepwoken;
    src: url(../assets/Fonts/Fondamento/Fondamento-Regular.ttf);
}

@font-face {
    font-family: DeepwokenItalic;
    src: url(../assets/Fonts/Fondamento/Fondamento-Italic.ttf);
}